In [2]:
import pandas as pd
from pandashape import PandaShaper, Columns

In [5]:
df_dataset = pd.read_csv('./dataset.csv')
df_dataset.head()

,Age,Gender,OwnHome,Married,Location,Salary,Children,History,Catalogs,AmountSpent
0,Old,Female,Own,Single,Far,47500,0,High,6,755
1,Middle,Male,Rent,Single,Close,63600,0,High,6,1318
2,Young,Female,Rent,Single,Close,13500,0,Low,18,296
3,Middle,Male,Own,Married,Close,85600,1,High,18,2436
4,Middle,Female,Own,Single,Close,68400,0,High,12,1304

In [6]:
shaper = PandaShaper(df_dataset)
shaper.describe()

['Shape: (1000, 10)',
 "Columns with one or more null values: <PandasArray>\n['History']\nLength: 1, dtype: object",
 'Columns of type "object" (may need label encoding): $<PandasArray>\n[\'Age\', \'Gender\', \'OwnHome\', \'Married\', \'Location\', \'History\']\nLength: 6, dtype: object']